@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background-img {
    background: url("/website/public/images/hero.webp");
    background-repeat: no-repeat;
    background-size: auto auto;
  }
}
